@use  "../variables" as v;
@use  "sass:math";
.projects-section{
    display: grid;
    grid-template-columns: 1fr Min(1600px, 90%) 1fr;
    background-color: v.$primaryBlueDark;
    color: #fff;
    border-top: 2px solid v.$primaryBlueGrey;
    padding: Min(75px, Max(40px, math.div(75,1920)*100vw)) 0;
    .my-projects{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            margin-bottom: math.div(75, 45)*1em;
        }
    }
}
.projects-container{
    //grid-column: 2;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-flow: row;
    grid-gap: 25px;
    @include v.view(md-up){
        grid-template-columns: repeat(2, auto);
    }
    @include v.view(xl){
        grid-template-columns: repeat(3, auto);
    }
    .project-card{
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        pointer-events: none;
        &.hover{
            pointer-events: all;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
        .project-desc{
             
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform .7s ease;
            text-align: center;
            background-color: rgba(31, 40, 51, .6);
            

        }
        picture{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter .3s linear;
            }
        }
        &:hover{
            picture{
                img{
                    filter: blur(4px);
                }
            }
            .project-desc{
                transform: translateY(0);
    
            }
        }
    }
}